/cmake-build-debug/
CMakeLists.txt
/SDL/
/SDL2-2.0.12/
/SDL2_image-2.0.5/
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21,_6_25_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21,_6_28_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21,_6_29_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21,_6_31_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21__6_25_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21__6_28_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_3_8_21__6_29_PM__Default_Changelist_.xml
*.o
RTv1
/skale_src/